body {
    background-color: rgba(0, 0, 0, 0.636);
}

.overskrift {
    width: fit-content;
    margin: auto;
    font-size: 25px;
    margin-bottom: 30px;
}

.container {
    margin: auto;
    margin-bottom: 150px;
    border: double black 12px;
    width: 90%;
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.boks {
    margin: 60px;
    width: 420px;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.859);
    display: flex;
    padding: 20px;
    justify-content: space-between;
    color: white;

}

.info {
    height: 115px;
    width: 245px;

}

.sang {
    height: 110px;
    width: 110px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.play {
    background-color: brown;
    width: 100%;
    height: 70px;
}

p {
    margin-bottom: 5px;
}

.klikk {
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 20px;
}

.farge {
    border: 3px solid black;
    background-color: rgb(166, 163, 160);
}

.fot {
    
    color: black;
}